<html>
<head>
  <title>Fullstack Master</title>
  
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" crossorigin="anonymous">
</head>
<body>
  <h1>Fullstack eu me tornarei</h1>
  <a href="/">Home</a> | <a href="/calc?n1=2&n2=4">Calcular</a> 